a{
    white-space: nowrap;!important;
}
.author-input:hover{
    cursor: pointer;
}
.book-form{
    width: 350px;
    margin: auto;
}
.justify-around{
    display: flex;
    justify-content: space-around;
}
.max-width-250{
    max-width: 250px;
}